$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5% 4%;
  nav ul {
    display: none;
  }
  .humberger {
    display: inline-block;
    width: 40px;
    height: 38px;
    border: 2px solid $dark-violet;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    .line {
      width: 25px;
      height: 4px;
      border-radius: 100px;
      background-color: $dark-violet;
      margin: 7px auto;
      transition: all 0.5s ease;
      &::before {
        content: "";
        width: 25px;
        height: 4px;
        border-radius: 100px;
        background-color: $dark-violet;
        margin: 8px auto;
        position: absolute;
      }
      &::after {
        content: "";
        width: 25px;
        height: 4px;
        border-radius: 100px;
        background-color: $dark-violet;
        margin: 16px auto;
        position: absolute;
      }
    }
  }
}
.x {
  .line {
    transform: rotate(45deg);
    margin: 15px;
    width: 24px;
    position: relative;
    top: 8px;
    &:before {
      transform: rotate(89deg);
      top: -7px;
      width: 24px;
    }
    &::after {
      display: none;
    }
  }
}
.navigation-mobile {
  width: 100%;
  height: 90vh;
  background-color: $very-dark-violet;
  transition: all 0.5s ease;
  transform: translateY(-100%);
  position: absolute;
  z-index: 3;
  display: none;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  nav ul {
    text-align: center;
    padding: 0;
    padding-top: 30px;
    li {
      list-style: none;
      padding: 3% 0;
      a {
        text-decoration: none;
        font-size: 7vw;
        color: white;
        text-transform: uppercase;
        &:hover {
          color: $dark-grayish-violet;
        }
      }
      button {
        width: 80%;
        height: 50px;
        background-color: transparent;
        border: 1px solid white;
        font-size: 5vw;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
          background-color: white;
          color: $very-dark-violet;
        }
      }
    }
  }
}
.welcome-section {
  width: 100%;
  height: fit-content;
  position: relative;
  &::after {
    content: "";
    width: 124px;
    height: 340px;
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 86%;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    width: 100%;
  }
  .content {
    display: inline-block;
    width: 100%;
    background-color: $dark-violet;
    z-index: -1;
    padding: 90px 9%;
    margin-top: -5px;
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    h1 {
      color: white;
      font-size: 11vw;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      line-height: 100%;
      margin-top: 0px;
      text-align: center;
    }
    p {
      color: white;
      width: 100%;
      line-height: 30px;
      text-align: center;
      font-size: 4vw;
    }
    .line {
      display: none;
    }
    .button {
      width: fit-content;
      margin: auto;
      button {
        width: 150px;
        height: 40px;
        background-color: transparent;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        letter-spacing: 2px;
        font-weight: 700;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: $dark-violet;
        }
      }
    }
  }
}
.main-section {
  width: 100%;
  margin-top: 150px;
  padding: 0 9%;
  text-align: center;
  .main-section-line {
    width: 200px;
    border-top: 2px solid lightgrey;
    margin: auto;
  }
  h2 {
    font-family: "DM Serif Display", serif;
    color: $very-dark-violet;
    font-size: 10vw;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .details {
    div {
      h3 {
        font-family: "DM Serif Display", serif;
        color: $very-dark-violet;
        font-weight: 400;
        font-size: 7vw;
        margin-bottom: 10px;
      }
      p {
        color: $dark-grayish-violet;
        width: 100%;
        line-height: 25px;
        margin: auto;
        margin-bottom: 50px;
        font-size: 4vw;
      }
    }
  }
  .how-we-work {
    width: 100%;
    background-color: $dark-violet;
    padding: 70px 0px 80px 0px;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 150px;
    h2 {
      font-family: "DM Serif Display", serif;
      font-size: 10vw;
      color: white;
      margin: auto;
      width: 90%;
      line-height: 100%;
    }
    .button {
      width: 40%;
      margin: 50px auto 0px auto;
      button {
        display: inline-block;
        width: fit-content;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
        font-size: 2vw;
        padding: 15px 10px;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: $dark-violet;
        }
      }
    }
  }
}
footer {
  margin-top: 200px;
  padding: 0 9%;
  background-color: $very-light-gray;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  .first-section {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
    .social-media {
      display: flex;
      justify-content: space-between;
      width: 160px;
      margin: auto;
      margin-top: 20px;
      div {
        cursor: pointer;
        .fab {
          font-size: 30px;
          color: $dark-grayish-violet;
        }
        &:hover {
          .fab {
            color: $very-dark-violet;
          }
        }
      }
    }
  }
  .about-us {
    padding-bottom: 60px;
    div {
      h4 {
        color: $dark-grayish-violet;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 30px;
        margin-top: 50px;
        text-align: center;
      }
      ul {
        padding-left: 0;
        text-align: center;
        li {
          list-style: none;
          margin-bottom: 20px;
          a {
            text-decoration: none;
            color: $very-dark-violet;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and(min-width: 700px) {
  header {
    padding: 1% 9%;
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      margin: 5px 0 5px 0px;
      li {
        list-style-type: none;
        cursor: pointer;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $dark-grayish-violet;
          letter-spacing: 1px;
          font-weight: 700;
          &:hover {
            color: $very-dark-violet;
          }
        }
        button {
          width: 150px;
          background-color: transparent;
          border: 1px solid $very-dark-violet;
          color: $very-dark-violet;
          text-transform: uppercase;
          font-weight: 700;
          padding: 10px;
          letter-spacing: 2px;
          cursor: pointer;
          &:hover {
            background-color: $very-dark-violet;
            color: white;
          }
        }
      }
    }
    .humberger {
      display: none;
    }
  }
  .navigation-mobile {
    display: none;
  }
  .welcome-section {
    &::before {
      content: "";
      width: 435px;
      height: 600px;
      background-image: url(../images/bg-pattern-intro-right-desktop.svg);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      background-position: 0px -70px;
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      width: 200px;
      height: 500px;
      background-image: url(../images/bg-pattern-intro-left-desktop.svg);
      position: absolute;
      left: 0;
      top: 410px;
      z-index: 2;
      background-repeat: no-repeat;
    }
    .desktop-image {
      display: inline-block;
      margin-top: 17%;
      position: absolute;
      right: 9%;
      width: 370px;
    }
    .mobile-image {
      display: none;
    }
    .content {
      padding: 100px 9%;
      background-image: none;
      margin-top: 0;
      h1 {
        font-size: 4vw;
        margin-top: 70px;
        text-align: start;
      }
      p {
        width: 34%;
        text-align: start;
        font-size: 16px;
      }
      .line {
        display: inline-block;
        width: 150px;
        border: 1px solid white;
      }
      .button {
        margin: 0;
        button {
          margin: auto;
        }
      }
    }
  }
  .main-section {
    margin-top: 300px;
    text-align: unset;
    .main-section-line {
      margin: 0;
    }
    h2 {
      font-size: 90px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        margin-top: 50px;
        h3 {
          font-size: 30px;
        }
        p {
          width: 350px;
          margin: 0;
          font-size: 16px;
        }
      }
    }
    .how-we-work {
      padding: 65px 100px;
      display: flex;
      background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
      justify-content: space-between;
      align-items: center;
      background-position: right;
      h2 {
        font-size: 3vw;
        margin: 0;
        width: 50%;
        line-height: 60px;
      }
      .button {
        margin: 0;
        width: 150px;
        button {
          font-size: 13px;
        }
      }
    }
  }
  footer {
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    .first-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      .social-media {
        margin: 0;
      }
    }
    .about-us {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      div {
        h4{
          text-align: start;
        }
        margin-left: 100px;
        ul {
          text-align: start;
        }
      }
    }
  }
}
@media screen and(min-width: 1330px) {
  .welcome-section {
    .desktop-image {
      width: unset;
      margin-top: 7%;
    }
    .content {
      h1 {
        font-size: 60px;
      }
      p {
        width: 550px;
      }
    }
  }
  .main-section {
    .how-we-work {
      h2 {
        font-size: 60px;
        width: 530px;
      }
    }
  }
  footer .about-us {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    div {
      margin: 0;
    }
  }
}
